<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>강의명</th>
                <th>강사명</th>
                <th>가격</th>
                <th>신청시간</th>
                <th>주문상태</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${lectureDto}">
                <td th:text="${item.orderId}"></td>
                <td th:text="${item.LectureName}"></td>
                <td th:text="${item.LecturerName}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.orderDate}"></td>
                <td th:text="${item.orderStatus}"></td>
            </tr>

            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->

</body>
<script>
    function cancel(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/orders/" + id + "/cancel");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>
